<!DOCTYPE html>
<html>
  <head>
    <title>Chessdb</title>
    <meta charset="UTF-8">
    <%= assets(:css) %>
    <%= assets(:js) %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Chess DB</li>
          <li <%= @active_menu == :search ? "class='is-active'" : "" %>>
            <a href="/games/search">Game search</a>
          </li>
          <li <%= @active_menu == :position_search ? "class='is-active'" : "" %>>
            <a href="/positions/search">Position search</a>
          </li>
          <li <%= @active_menu == :explorer ? "class='is-active'" : "" %>>
            <a href="/moves/explorer">Move explorer</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid-conatiner">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
