<div id="move_explorer"></div>
<script>
  var app = Elm.MoveExplorer.init({
    node: document.getElementById("move_explorer"),
    flags: {
      fen: "<%= @fen %>",
      castlingAvailability: <%= @castling_availability %>,
      activeColour: <%= @active_colour %>,
      enPassant: <%= @en_passant || 'null' %>
    }
  });
  var chessboard;

  app.ports.signalDomRendered2.subscribe(function (msg) {
    requestAnimationFrame(function() {
      chessboard = ChessBoard('chessboard', '<%= @fen %>');
      app.ports.signalFenChanged2.subscribe(function (fen) {
        chessboard.position(fen);
      });
    });
  });
</script>
